/* CSS cho nút "Thêm Admin" */

button {
    background-color: #4CAF50;
    /* Màu nền */
    color: white;
    /* Màu chữ */
    padding: 10px 20px;
    /* Khoảng cách giữa chữ và viền nút */
    border: none;
    /* Không có đường viền */
    border-radius: 5px;
    /* Đường cong viền */
    cursor: pointer;
    /* Con trỏ chuột thành dấu nhấp */
    transition: background-color 0.3s;
    /* Hiệu ứng chuyển đổi màu nền */
}


/* Hover effect */

button:hover {
    background-color: #45a049;
    /* Màu nền khi di chuột qua */
}